# Created by .ignore support plugin (hsz.mobi)
### WordPress template
# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
.idea
./idea/*
# ignore specific themes

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
*.zip
/bundled

/vendor
.composer.json
/.idea
.idea/php.xml
composer.lock
