/**
 * DO NOT CHANGE THIS FILE!
 * To override any of the settings in this section, add your styling code in the custom directory.
 * Loading first in the style.scss & editor-style.scss
 */
/* Basic responsive layout
   ========================================================================== */


/* Header layout
   ========================================================================== */
.site-branding{
  img{
	max-height: 40px;
	max-width: 180px;
  }
}

.site-header {
  position: relative;

  &.elt-header {
	-webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 -1px 3px rgba(0, 0, 0, .1);
  }

  .site-title {
	font-family: inherit;
	font-size: 1.25em;
	margin-bottom: 0;
	font-weight: 600;
  }

  .site-description {
	font-size: small;
	display: block;
  }
  a{
	&:hover{
	  text-decoration: none;
	}
	&:not(.button){
	  color: #404248;

	}
  }
}

.header {
  &--row {
	@extend .row;
	width: 100%;
  }

  &--item {
	margin-top: 4px;
	margin-bottom: 4px;

	&-right {
	  text-align: right;
	  margin-left: auto;
	}
  }
}

.elt-header .row.grid{
  width: 100%;
}
