.post-tags{
margin-bottom: 20px;
  font-size: var(--font-small);
  > span{
	margin-right: 10px;
  }
  > a{
	color: var(--primary);
	border-color: var(--primary);
	display: inline-block;
	padding: 2px 10px;
	line-height: 1;
	transition: all .3s ease;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 1px solid ;
	&:hover{
	  background-color: var(--primary);
	  color: var(--white);
	  text-decoration: none;
	}
  }
}
